* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.products {
    position: relative;
    width: 100%;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
    padding-left: 15px;
    border-left: 5px solid #1A73E8;
    margin: 25px 0;
}

#arrow {
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #0066ff;
    color: white;
    font-size: 22px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background .3s;
    z-index: 10;
}

#arrow:hover {
    background: #004ccc;
}

.arrow-left {
    left: 0px;
}

.arrow-right {
    right: 0;
}

.section-content {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    /* animation: slide 20s linear infinite; */
}

.product-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    /* chia đều 4 sản phẩm thành 1 hàng */
    min-width: calc((100% - 60px) / 4);
    max-width: calc((100% - 60px) / 4);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    transition: .25s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.product-name {
    font-size: 15px;
    margin: 10px 0 5px;
    height: 40px;
    overflow: hidden;
}

.product-price {
    color: #1A73E8;
    font-weight: 600;
}

.footer {
    width: 100%;
    background: #1e88e5;
    color: white;
    padding: 15px 0;
    margin-top: 30px;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-column ul li {
    list-style: none;
    text-decoration: none;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media img {
    width: 38px;
    height: 38px;
    object-fit: contain;
}

.footer-copyright {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright p {
    padding: 20px 0;
}


/* animation chạy ngang

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
} */