* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f8ff;
}

.container {
    width: 100%;
}

.main-header {
    width: 100%;
    background: #1e88e5;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    margin-left: 15%;
    align-items: center;
    gap: 15px;
}

.menu-btn {
    padding: 10px 15px;
    background: #0066ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    z-index: 1000;
}

.category-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: #ffffff;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 8px 0;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 999;
}

.menu {
    position: relative;
}

.menu-btn:hover~.category-menu,
.category-menu:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.category-menu ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.category-menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: block;
    padding: 10px 16px;
    transition: all 0.2s;
}

.category-menu li a:hover {
    background: #f2f6ff;
    color: #0066ff;
    padding-left: 24px;
}

.main-header-logo {
    font-size: 20px;
}

.main-header-logo a {
    text-decoration: none;
    color: white;
}

.search-box {
    width: 360px;
    height: 35px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.search-box input {
    padding: 10px;
    border: none;
    outline: none;
}

.right-header {
    display: flex;
    align-items: center;
    margin-right: 15%;
    gap: 25px;
    color: white;
    font-size: 14px;
}

.right-header a {
    text-decoration: none;
    color: white;
}

.sub-header {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding: 8px 0;
    display: flex;
    justify-content: center;
}

.sub-header ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0 30px;
}

.sub-header li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    transition: .2s;
}

.sub-header ul li a:hover {
    color: #007bff;
}

.products {
    position: relative;
    width: 100%;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
    padding-left: 15px;
    border-left: 5px solid #1A73E8;
    margin: 25px 0;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #0066ff;
    color: white;
    font-size: 22px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.arrow-left:hover,
.arrow-right:hover {
    background: #004ccc;
}

.arrow-left {
    left: 0px;
}

.arrow-right {
    right: 0;
}

.section-content {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0;
    display: flex;
    gap: 20px;
}

.section-content::-webkit-scrollbar {
    display: none;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    /* chia đều 4 sản phẩm thành 1 hàng */
    min-width: calc((100% - 60px) / 4);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    transition: .25s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.product-name {
    font-size: 15px;
    margin: 10px 0 5px;
    height: 40px;
    overflow: hidden;
}

.product-price {
    color: #1A73E8;
    font-weight: 600;
}

.footer {
    width: 100%;
    background: #1e88e5;
    color: white;
    padding: 15px 0;
    margin-top: 30px;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-column ul li {
    list-style: none;
    text-decoration: none;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media img {
    width: 38px;
    height: 38px;
    object-fit: contain;
}

.footer-copyright {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright p {
    padding: 20px 0;
}